

.main-content{
    overflow: hidden;
    background-color: #F9F8FD;
  
}

#button{
    background-color: #5D77FF;
    width:8em;
    height:50em;
}

.list-group-item,.list-group,.card-list{
    text-align: left;
    background-color:white !important;
    border: none !important;
    padding-left:0 ;
}

.card-dimentions{
    width:30em;
    height:25em;
}

.doublecard{
    width:60em;
    height:25em;
}

@media only screen and (max-width: 1480px) {
    .doublecard{
        width:30em;
        height:25em;
    }
  }