.circle{
    background-image: url("https://images.dailyhive.com/20191212124141/shutterstock_1020003517.jpg");
    background-size: cover;
    border-radius:50% 50% 50% 50%;
    width:130px;
    height: 30px;
    display:inline;
}

.navbar-default {
    background-color: #F9F8FD;
    border-color: #E7E7E7;
}